@model IEnumerable<Product>
@{
    ViewData["Title"] = "Инициализация БД";
}

<h3 class="p-2 bg-primary text-white text-center">@ViewData["Title"]</h3>

<form>
    <div class="form-group">
        <label>Количество создаваемых товаров</label>
        <input class="form-control" name="Count" value="50"/>
    </div>

    
</form>