@model QueryResult<Product>
@{
    ViewData["Title"] = "Товары";
}

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-auto">
            <partial name="Partial/_Categories" model="ViewBag.Categories"/>
        </div>

        <div class="col">
            <div class="container-fluid">
                <div class="row pt-4 pb-1">
                    <div class="col text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>